{% set seoTitle = seo.seoTitle %}
{% set seoDescription = seo.seoDescription %}
{% set asset = seo.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% set staticAssetsVersion = craft.app.config.general.staticAssetsVersion %}
{% set env = getenv('ENVIRONMENT') %}

{%- minify -%}
<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
	{% block head %}
    {% include "default/_includes/global/head" %}
	{% endblock %}
</head>
  <body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
  {% block loading %}{% endblock %}
	{% block body %}{% endblock %}
  {% include "default/_includes/global/scripts" %}
	</body>
</html>
{%- endminify -%}