<!-- Header -->
<footer class="grid-x grid-padding-x grid-padding-y footer align-left align-middle">

  <div class="small-12 medium-shrink cell">
    <ul class="menu align-center margin-top-1">
        {% for block in site.socials.all() %}
        {% switch block.type %}
          {% case "facebook" %}
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          {% case "instagram" %}
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
          {% case "twitter" %}
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          {% endswitch %}
        {% endfor %}
      </ul>
  </div>

</footer>
<!-- End  Header -->
