<div class="grid-x grid-padding-x grid-padding-y align-justify navigation hide-for-medium" id="swup-header">
  <div class="shrink cell text-center" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="">{{siteName}}</a>
  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y navigtion show-for-medium" id="swup-header" style="z-index: 14">
  
  <div class="small-12 medium-6 cell">
    <a href="/" class="text-uppercase">{{ siteName }}</a>
  </div>

  <div class="shrink cell">
    <ul class="menu">
      <li><a href="/info" class="">Search</a></li>
      <li><a href="/info" class="">Filter</a></li>
      <li><a href="/info" class="">Info</a></li>
      <li><a href="/submit" class="">Submit</a></li>
    </ul>
  </div>

</div>
<!-- End  Header -->
