<div class="grid-x grid-padding-x grid-padding-y align-center-middle navigation hide-for-large" id="swup-header">
  <div class="shrink cell text-center" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="text-uppercase logo">{{siteName}}</a>
  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y show-for-large align-center navigtion" id="swup-header" style="z-index: 14">
  <div class="shrink cell text-uppercase">

<ul class="menu">
    <li><a href="/">{{ siteName }}</a></li>
    <li><a href="/info" class="">London — Côte d'Azur</a></li>
    <li><a href="mailto:{{site.email}}" class="">{{site.email}}</a></li>
</ul>


  </div>
</div>
<!-- End  Header -->
