<div class="grid-x grid-padding-x grid-padding-y align-justify navigation hide-for-medium" id="swup-header">
  <div class="shrink cell text-center" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="text-uppercase logo">{{siteName}}</a>
  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y align-justify navigtion show-for-medium" id="swup-header" style="z-index: 14">
  
  <div class="shrink cell text-uppercase">
    <a href="/" class="memu-text">{{ siteName }}</a></li>
  </div>

  <div class="shrink cell text-uppercase">
    <ul class="menu">
        <li><a href="/info" class="">Info</a></li>
        <li><a href="/submit" class="">Submit</a></li>
    </ul>
  </div>

</div>
<!-- End  Header -->
