<div class="primary-background-colour padding-vertical-3">
  
  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">

      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-12 cell text-center">
          <h4>Keep up to date</h4>
        </div>
      </div>

      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-11 medium-5 large-4 xlarge-4 xxlarge-3 cell text-center">
          <form action="{{ site.newsletter }}" method="post" target="_blank" data-abide novalidate>
           
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i>There are some errors in your form.</p>
            </div> 

            <div class="input-group">
              <input class="input-group-field" type="email" name="EMAIL" placeholder="Enter Email">
              <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
              </div>
            </div>
          </form>
        </div>

          <div class="small-12 medium-12 cell">
          <small>By signing in you agree with the Terms and Conditions and Privacy Policy</a></small> 
          </div>

      </div>

    </div>
  </div>
  
</div>