{% set bodyClass = 'home' %}
{% set sites = craft.entries
.section('sites')
.order('postDate desc')
.all() %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}
{# Description #}
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 medium-8 cell text-left">
    <h1>{{seo.seoDescription}}</h1>
  </div>
</div>
{# End Description #}

{# Sites #}
<div class="grid-x grid-padding-x grid-padding-y">
  {% for site in sites %}
    <div class="small-12 medium-6 large-4 cell">
      <a href="{{ site.url }}">
        {% set image = site.image.one() %}
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 medium-12 cell">
            <div class="light-gray-background-color site__grab">
              <div class="image--1920-1200" {% if image %}data-interchange="{% include "_includes/images/contained/1920-1200/interchange-img-small-12-medium-4" %}" data-aos="fade-in" data-aos-delay="100"{% endif %}></div>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 medium-6 cell">
          {{ site.title }}
          </div>
          <div class="small-12 medium-6 cell text-right">
          {{ site.postDate | date("M d, Y") }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<!-- End sites -->

{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}

