{% set bodyClass = 'page' %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
  
      <!-- Copy -->
      <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell">
          {{entry.copy}}
        </div>
      </div>
      <!-- End Copy -->
  
    </div>
  </div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}