{% set image = entry.image.one() %}
<div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
  
  <div class="grid-y height-100 align-center content">
    <div class="shrink cell text-center white">

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
          <div class="small-11 medium-10 large-9 cell text-center">
            {{entry.copy}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>