@font-face {
  font-family: 'P22 Mackinac Book';
  src: 
  url('../fonts/p22-mackinac-book.woff2') format('woff2'), 
  url('../fonts/p22-mackinac-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: 
  url('../fonts/neue-haas-unica-pro.woff2') format('woff2'), 
  url('../fonts/neue-haas-unica-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}