.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */


.icon-website {
  font-size: 1.5rem;
}

.icon-twitter {
  width: 0.9285714285714285em;
  font-size: 1.5rem;

}

.icon-facebook {
  font-size: 1rem;
}

.icon-instagram {
  font-size: 1rem;
}

.icon-brighton-comedy-garden {
  width: 1.3466796875em;
  font-size: 5rem;
}

.icon-bristol-comedy-garden {
  width: 1.337890625em;
  font-size: 5rem;
}

.icon-greenwich-comedy-festival {
  width: 1.859375em;
  font-size: 5rem;
}

.icon-tickets {
  width: 2.271484375em;
  font-size: 3rem;
}

.icon-view {
  width: 1.3232421875em;
  font-size: 2.5rem;
}

.icon-menu {
  width: 0.8232421875em;
font-size: 3rem;
}

.icon-atsign {
  width: 0.9033203125em;
  font-size: 2rem;
}

.icon-email {
  width: 0.89453125em;
  font-size: 2.5rem;
}

.icon-tickets {
  width: 2.271484375em;
}

.icon-menu-old {
  width: 1.61328125em;
}

.icon-arrow_back {
  font-size: 2rem
}

.icon-arrow_forward {
  font-size: 2rem
}

.icon-play_arrow {
  font-size: 3rem
}

.icon-grid_view {
  font-size: 2rem
}

.icon-eye {
  width: 1.3486328125em;
  font-size: 3rem
}