// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.25em;
$letter-spacing--loose: 0.125em;

$logo: 'Bressay Regular', serif;
$sans-display: 'GT America Medium', sans-serif;
$sans-regular: 'Neue Haas Unica Pro', sans-serif;
$sans-bold: 'GT America Condensed Bold', sans-serif;
$sans-light: 'GT America Medium', sans-serif;
$serif-display: 'Louize Display', sans-serif;
$serif-bold: 'Louize Display', sans-serif;
$serif-regular: 'P22 Mackinac Book', serif;
$serif-italic: 'Louize Display Italic', sans-serif;
$serif-light: 'Louize Display', sans-serif;
$mono-display: 'Louize Display', sans-serif;
$mono-bold: 'Louize Display', sans-serif;
$mono-regular: 'Louize Display', sans-serif;
$mono-light: 'Louize Display', sans-serif;

