{% set bodyClass = 'tags' %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

{% set tag = craft.tags.slug( craft.request.segment(2) ).first() %}
{% set title = craft.tags.slug( craft.request.segment(2) ).first() %}

{% if not tag %}
{% exit 404 %}
{% endif %}


<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell">
    <h1>{{ tag.title }}</h1>
  </div>
</div>

  {% set sites = craft.entries.section('sites').relatedTo(tag).order('title').all() %}



 {# Sites #}
<div class="grid-x grid-padding-x grid-padding-y">
  {% for site in sites %}
    <div class="small-12 medium-6 large-4 cell">
      <a href="{{ site.url }}">
        {% set image = site.image.one() %}
        <div class="grid-x grid-padding-x">
          <div class="small-12 medium-12 cell">
            <div class="light-gray-background-color site__grab">
              <div class="image--1920-1200" {% if image %}data-interchange="{% include "_includes/images/contained/1920-1200/interchange-img-small-12-medium-4" %}" data-aos="fade-in" data-aos-delay="100"{% endif %}></div>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x margin-top-1">
          <div class="small-12 medium-6 cell">
          {{ site.title }}
          </div>
          <div class="small-12 medium-6 cell text-right">
          {{ site.postDate | date("M d, Y") }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<!-- End sites -->




{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}